#logo {
    width: max-content;
}

.input-box .btn {
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.url-node {
    padding: 0.3rem;
    max-width: 100vw;
    word-wrap: anywhere;
}
.url-node i {
    margin-top: 2px;
}
.url-node:hover {
    background-color: #ffffff14;
}

#overview-tab-pane span[id^="ov-"] {
    margin-left: 0.6rem;
}

.js-details {
    white-space: pre;
    background-color: #585e7b82;
    font-family: monospace;
    font-size: small;
    height: 10rem;
    overflow: auto;
}

.action-wrapper #input {
    min-width: 29rem;
}
.action-wrapper #input:hover {
    background-color: #ffffff1c;
}
